form.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10%;

  div.loginLogo {
    margin: 20px;
  }
  div.loginTitle {
    margin: 20px;
  }

  input.inputEmail {
    height: 30px;
    width: 250px;
    margin: 5px;
  }
  input.inputPassword {
    height: 30px;
    width: 250px;
    margin: 5px;
  }
  div.askingMissingPassword {
    margin: 15px;
  }

  div.askingMembership {
    margin: 15%;
  }
}
