@import '../../styles/common.scss';

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20% 35%;
  min-width: 330px;
  padding: 20px;
  border-radius: 10px;
  border: solid;
  border-color: $color-grey;

  .loginLogo {
    margin: 25px;

    .logoImage {
      width: 100px;
    }
  }

  .loginTitle {
    margin: 10px;
    font-weight: bold;
  }

  input {
    width: 300px;
    height: 40px;
    margin: 10px;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
    background-color: #e8eaec;
  }

  .submitLoginInfoBtn {
    width: 300px;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    color: white;
    background-color: $color-main;
  }

  .askingMissingPassword {
    margin: 15px;
    margin-bottom: 10px;
  }

  .askingMembership {
    margin: 5px;
    <<<<<<< HEAD =======>>>>>>>master .goToSignUp {
      color: $color-main;
      margin: 5px;
    }
  }
}
