@import '../../styles/common.scss';

main {
  display: block;

  .mainImgBar {
    @include display-flex;
    flex-direction: column;
    background-image: url('https://mp-seoul-image-production-s3.mangoplate.com/0776fea76b4a824ff583128cb51dd45c.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 500px;
      background-color: rgba(0, 0, 0, 0.5);
    }

    p {
      color: $color-white;
      font-size: 35px;
      padding-bottom: 20px;
      z-index: 9999;
    }

    .mainSearchBar {
      position: relative;
      width: 700px;
      padding-top: 20px;

      #mainSearchIcon {
        position: absolute;
        left: 20px;
        padding-top: 20px;
        color: $color-grey;
      }

      input {
        height: 55px;
        width: 100%;
        padding-left: 60px;
        border: 2px solid $color-main;
        border-radius: 30px;
        outline: none;
        font-size: 17px;
      }

      button {
        position: absolute;
        right: 0px;
        height: 55px;
        width: 150px;
        border: none;
        border-radius: 30px;
        background-color: $color-main;
        color: $color-white;
        font-size: 17px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .foodThemeListBox {
    @include display-flex;
    flex-direction: column;
    padding: 50px 0;
    border-bottom: 1px solid #dbdbdb;

    .topBar {
      @include display-flex(space-between, center);
      padding: 0 150px;
      height: 50px;
      width: 100%;

      h2 {
        color: $color-main;
        font-size: 25px;
        font-weight: 500;
      }

      .listMore {
        color: $color-grey;
        font-size: 18px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .foodThemeBox {
      @include display-flex(space-between, center);
      flex-direction: column;
      position: relative;
      width: 100%;
      padding: 40px 75px 0 75px;

      .arrowBtnLeft {
        position: absolute;
        left: 80px;
        bottom: 190px;
        border: none;
        background-color: transparent;

        &:hover i {
          color: $color-main;
          cursor: pointer;
        }
      }

      .arrowBtnRight {
        position: absolute;
        right: 80px;
        bottom: 190px;
        border: none;
        background-color: transparent;

        &:hover i {
          color: $color-main;
          cursor: pointer;
        }
      }

      .none {
        display: none;
      }

      i {
        color: $color-grey;
      }

      .foodThemeImgBox {
        @include display-flex(normal, normal);
        padding-top: 10px;
        overflow: hidden;
        width: 1500px;

        .foodThemeImg {
          @include display-flex(normal, normal);
          margin-bottom: 40px;
          transition: all 1s;
          // transform: translate(-1500px);
        }
      }

      .slickDots {
        @include display-flex;
        flex-direction: row;
        list-style: none;

        .slickActive {
          display: list-item;

          #colorDot {
            color: $color-main;
          }

          i {
            color: $color-grey;
            padding: 5px;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
