$color-main: #fb7d27;
$color-white: #ececec;
$color-grey: #9b9b9b;

// * {
//   border: solid;
// }

div.UpperBox {
  display: flex;
  flex-direction: column;
  //align-items: center;
  margin: 10%;
  margin-left: 18%;
  margin-right: 18%;
  padding: 20px;
  border-radius: 10px;
  div.searchFilter {
    div.selectHead {
      display: flex;
      justify-content: space-between;
      span.title {
        margin-left: 20px;
        margin-top: 10px;
      }
      span.multipleChoice {
        margin-right: 20px;
        margin-top: 10px;
      }
    }

    div.selectSection {
      display: flex;
      justify-content: center;
      text-align: center;
      border-bottom: solid;

      .rating {
        display: inline-block;
        margin: 20px;
        margin-left: 20px;
        border-radius: 50px;
        width: 200px;
        height: 45px;
        padding: 10px;
        border: solid;
      }
      .popularity {
        display: inline-block;
        margin: 20px;
        border-radius: 50px;
        width: 200px;
        height: 45px;
        padding: 10px;
        border: solid;
      }
    }
  }

  div.priceForOnePerson {
    border-bottom: solid;

    div.selectHead {
      display: flex;
      justify-content: space-between;
      span.title {
        margin-left: 20px;
        margin-top: 10px;
      }
      span.multipleChoice {
        margin-right: 20px;
        margin-top: 10px;
      }
    }
    div.priceSelectSection {
      display: flex;
      justify-content: space-around;
      text-align: center;

      span.lessThan10000 {
        display: inline-block;
        margin: 20px;
        border-radius: 50px;
        width: 200px;
        height: 45px;
        padding: 10px;
        border: solid;
      }

      .over10000 {
        display: inline-block;
        margin: 20px;
        border-radius: 50px;
        width: 200px;
        height: 45px;
        padding: 10px;
        border: solid;
      }
      .over20000 {
        display: inline-block;
        margin: 20px;
        border-radius: 100px;
        width: 200px;
        height: 45px;
        padding: 10px;
        border: solid;
      }
      .over30000 {
        display: inline-block;
        margin: 20px;
        border-radius: 100px;
        width: 200px;
        height: 45px;
        padding: 10px;
        border: solid;
      }
    }
  }

  div.menuCategory {
    .selectHead {
      display: flex;
      justify-content: space-between;
      .title {
        margin-left: 20px;
        margin-top: 10px;
      }
      .multipleChoice {
        margin-right: 20px;
        margin-top: 10px;
      }
    }
    .western {
      display: flex;
      justify-content: space-between;
      text-align: center;
      margin-top: 25px;

      .selectWestern {
        // display: inline-block;
        margin: 20px;
        border-radius: 50px;
        width: 200px;
        height: 45px;
        padding: 10px;
        border: solid;
      }
      .pizza {
        //display: inline-block;
        margin: 20px;
        border-radius: 50px;
        width: 200px;
        height: 45px;
        padding: 10px;
        border: solid;
      }
      .pasta {
        //display: inline-block;
        margin: 20px;
        border-radius: 50px;
        width: 200px;
        height: 45px;
        padding: 10px;
        border: solid;
      }
      .hamburger {
        //display: inline-block;
        margin: 20px;
        border-radius: 50px;
        width: 200px;
        height: 45px;
        padding: 10px;
        border: solid;
      }
    }
    div.korean {
      display: flex;
      justify-content: space-between;
      text-align: center;
      span.selectKorean {
        margin: 20px;
        border-radius: 50px;
        width: 200px;
        height: 45px;
        padding: 10px;
        border: solid;
      }
      span.soup {
        margin: 20px;
        border-radius: 50px;
        width: 200px;
        height: 45px;
        padding: 10px;
        border: solid;
      }
      span.barbeque {
        margin: 20px;
        border-radius: 50px;
        width: 200px;
        height: 45px;
        padding: 10px;
        border: solid;
      }
      span.noodle {
        margin: 20px;
        border-radius: 50px;
        width: 200px;
        height: 45px;
        padding: 10px;
        border: solid;
      }
    }
    div.japanese {
      display: flex;
      justify-content: space-between;
      text-align: center;
      margin-bottom: 25px;
      span.selectJapanese {
        margin: 20px;
        border-radius: 50px;
        width: 200px;
        height: 45px;
        padding: 10px;
        border: solid;
      }
      span.sushi {
        margin: 20px;
        border-radius: 50px;
        width: 200px;
        height: 45px;
        padding: 10px;
        border: solid;
      }
      span.cutlet {
        margin: 20px;
        border-radius: 50px;
        width: 200px;
        height: 45px;
        padding: 10px;
        border: solid;
      }
      span.donburi {
        margin: 20px;
        border-radius: 50px;
        width: 200px;
        height: 45px;
        padding: 10px;
        border: solid;
      }
    }
  }
  div.cancelOrConfirm {
    border-top: solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60px;
    text-align: center;
    .cancel {
      border-right: solid;
      padding: 30px;
      background-color: $color-grey;
    }
    .confirm {
      padding: 30px;
      background-color: $color-main;
    }
  }
}
