@import '../../styles/common.scss';

.UpperBox {
  display: flex;
  flex-direction: column;
  border: solid;
  border-width: thin;
  border-radius: 10px;
  margin: 10%;
  margin-left: 18%;
  margin-right: 18%;
  border-color: $color-grey;

  .searchFilter {
    .selectHead {
      display: flex;
      justify-content: space-between;

      .title {
        margin-left: 15px;
        margin-top: 10px;
        padding: 10px;
      }

      .multipleChoice {
        margin-right: 15px;
        margin-top: 10px;
        padding: 10px;
      }
    }

    .selectRating {
      display: flex;
      justify-content: center;
      text-align: center;
      border-top: solid;
      border-bottom: solid;
      border-width: thin;
      border-color: $color-grey;
      padding-top: 20px;
      padding-bottom: 20px;

      .pagingBtn {
        display: inline-block;
        width: 200px;
        height: 45px;
        margin: 20px;
        margin-left: 20px;
        padding: 10px;
        border-radius: 50px;
        border: solid;
        border-width: thin;
        border-color: $color-grey;

        &.on {
          background-color: red;
        }
      }

      // .popularity {
      //   display: inline-block;
      //   width: 200px;
      //   height: 45px;
      //   margin: 20px;
      //   margin-left: 20px;
      //   padding: 10px;
      //   border-radius: 50px;
      //   border: solid;
      //   border-width: thin;
      //   border-color: $color-grey;
      // }
    }
  }

  .priceForOnePerson {
    border-bottom: solid;
    border-color: $color-grey;
    border-width: thin;

    .selectHead {
      display: flex;
      justify-content: space-between;

      .title {
        margin-left: 20px;
        margin-top: 10px;
      }
    }

    .priceSelectSection {
      display: flex;
      justify-content: space-around;
      text-align: center;
      padding-bottom: 30px;
      padding-top: 10px;

      .lessThan10000 {
        display: inline-block;
        width: 200px;
        height: 45px;
        margin: 20px;
        border-radius: 50px;
        padding: 10px;
        border: solid;
        border-width: thin;
        border-color: $color-grey;
      }

      .over10000 {
        display: inline-block;
        margin: 20px;
        width: 200px;
        height: 45px;
        border-radius: 50px;
        padding: 10px;
        border: solid;
        border-width: thin;
        border-color: $color-grey;
      }

      .over20000 {
        display: inline-block;
        width: 200px;
        height: 45px;
        margin: 20px;
        border-radius: 100px;
        padding: 10px;
        border: solid;
        border-width: thin;
        border-color: $color-grey;
      }

      .over30000 {
        display: inline-block;
        width: 200px;
        height: 45px;
        padding: 10px;
        margin: 20px;
        border-radius: 100px;
        border: solid;
        border-width: thin;
        border-color: $color-grey;
      }
    }
  }

  .menuCategory {
    .selectHead {
      display: flex;
      justify-content: space-between;
      .title {
        margin-left: 20px;
        margin-top: 10px;
      }
    }

    .western {
      display: flex;
      justify-content: space-between;
      text-align: center;
      margin-top: 25px;

      .pizza {
        margin: 20px;
        width: 200px;
        height: 45px;
        border-radius: 50px;
        padding: 10px;
        border: solid;
        border-width: thin;
        border-color: $color-grey;
      }

      .pasta {
        width: 200px;
        height: 45px;
        margin: 20px;
        border-radius: 50px;
        padding: 10px;
        border: solid;
        border-width: thin;
        border-color: $color-grey;
      }

      .hamburger {
        width: 200px;
        height: 45px;
        margin: 20px;
        border-radius: 50px;
        padding: 10px;
        border: solid;
        border-width: thin;
        border-color: $color-grey;
      }
    }

    .korean {
      display: flex;
      justify-content: space-between;
      text-align: center;

      .soup {
        width: 200px;
        height: 45px;
        margin: 20px;
        border-radius: 50px;
        padding: 10px;
        border: solid;
        border-width: thin;
        border-color: $color-grey;
      }

      .barbeque {
        width: 200px;
        height: 45px;
        margin: 20px;
        border-radius: 50px;
        padding: 10px;
        border: solid;
        border-width: thin;
        border-color: $color-grey;
      }

      .noodle {
        width: 200px;
        height: 45px;
        margin: 20px;
        border-radius: 50px;
        padding: 10px;
        border: solid;
        border-width: thin;
        border-color: $color-grey;
      }
    }

    .japanese {
      display: flex;
      justify-content: space-between;
      text-align: center;
      margin-bottom: 25px;

      span.sushi {
        width: 200px;
        height: 45px;
        margin: 20px;
        border-radius: 50px;
        padding: 10px;
        border: solid;
        border-width: thin;
        border-color: $color-grey;
      }

      span.cutlet {
        width: 200px;
        height: 45px;
        margin: 20px;
        border-radius: 25px;
        padding: 10px;
        border: solid;
        border-width: thin;
        border-color: $color-grey;
      }

      span.donburi {
        width: 200px;
        height: 45px;
        margin: 20px;
        border-radius: 25px;
        padding: 10px;
        border: solid;
        border-width: thin;
        border-color: $color-grey;
      }
    }
  }

  .cancelOrConfirm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 30%;
    text-align: center;

    .cancel {
      padding: 30px;
      border-bottom-left-radius: 9px;
      background-color: $color-grey;
      color: #ececec;
      font-size: 25px;
    }

    .confirm {
      padding: 30px;
      border-bottom-right-radius: 9px;
      background-color: $color-main;
      color: #ececec;
      font-size: 25px;
    }
  }
}
