@import '../styles/common.scss';

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: white;
  // box-shadow: 0 1px 8px;
  border: 1px solid #dbdbdb;

  .navLeft {
    display: flex;
    align-items: center;
    h1 {
      margin-left: 15px;
      font-family: 'Gamja Flower', cursive;
      color: $color-main;
      font-size: 25px;
    }

    .logoImg {
      width: 20px;
      margin: 5px 0px 30px 0px;
    }
  }

  .navCenter {
    align-items: center;
    margin-right: 1100px;

    #searchIcon {
      color: $color-grey;
    }

    input {
      margin-left: 15px;
      padding-left: 15px;
      height: 25px;
      width: 300px;
      border: none;
      border-left: 1px solid $color-grey;
      &:focus {
        outline: none;
      }
    }
  }

  .navRight {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      margin-right: 40px;
      border: none;
      background-color: transparent;
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 16px;
      color: $color-main;
      &:hover {
        cursor: pointer;
      }
    }

    img {
      margin-right: 30px;
      width: 35px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
