@import '../../../styles/common.scss';

li {
  @include display-flex;
  position: relative;
  margin-left: 30px;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
  }

  &:nth-child(3n + 1) {
    margin-left: 0;
  }

  &:hover {
    cursor: pointer;
  }

  img {
    width: 480px;
    height: 300px;
    object-fit: cover;
  }

  h3 {
    position: absolute;
    top: 110px;
    font-size: 30px;
    color: $color-white;
    font-weight: 500;
  }

  h4 {
    position: absolute;
    bottom: 120px;
    font-size: 15px;
    color: $color-white;
    font-weight: 400;
  }
}
