@import '../../../styles/common.scss';

.storeReviewBox {
  width: 70%;
  padding-top: 50px;

  .reviewListBox {
    padding: 100px 0 0;
    position: relative;

    .sortScore {
      @include display-flex(space-between, normal);
      width: 348px;
      position: absolute;
      top: 50px;
      right: 0;

      li {
        position: relative;
        font-size: 20px;
        color: $color-grey;
        font-weight: 400;
        cursor: pointer;

        & + li::before {
          content: '';
          position: absolute;
          top: 1px;
          left: -8px;
          height: 20px;
          border-left: 1px solid $color-grey;
        }

        b {
          font-weight: 400;
        }
      }
    }
  }
}
