* {
  border: solid;
}
div.searchResultMain {
  margin-top: 60px;
  border: solid;
  div.searchResultHead {
    //vertical-align: middle;
    padding: 5px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;

    div.searchResultTitle {
      padding: 10px;
      display: flex;
      div.searchKeyword {
        border: 1px solid red;
        display: inline-block;

        div.searchKeyword {
          display: inline-block;
        }
      }
    }
    div.searchResultFilter {
      width: 12%;
      padding: 10px;
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      height: 100%;
      i.fas.fa-list {
        margin: 3px;
        display: inline-block;
        height: 32px;
      }
      div.letterFilter {
        margin: 3px;
        padding: 2px;
      }
    }
  }
  div.searchResultBody {
    padding: 60px;
    div.searchResultList {
      display: grid;
      grid-template-columns: 40% 40%;
      grid-template-rows: 350px 350px 350px 350px; //최대최소넣어주기
      justify-content: center;

      span.searchResultListContent {
        display: inline-block;
        margin: 10px;
        padding: 5px;
        text-align: center;
        img.searchResultMainImage {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
    div.searchResultPaging {
      height: 80px;
      display: flex;
      justify-content: space-evenly;
      padding-right: 95px;
      padding-left: 95px;
      span.paging {
        line-height: 80px; // 부모와 height 을 동일하게 맞추면 수직 정렬 가능
      }
    }
  }
}
