@import '../../../styles/common.scss';

.foodThemeListBox {
  @include display-flex;
  flex-direction: column;
  padding: 50px 0;
  border-bottom: 1px solid #dbdbdb;

  .topBar {
    @include display-flex(space-between, center);
    padding: 0 150px;
    height: 50px;
    width: 100%;

    h2 {
      color: $color-main;
      font-size: 25px;
      font-weight: 500;
    }

    .listMore {
      color: $color-grey;
      font-size: 18px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .foodThemeBox {
    @include display-flex(space-between, center);
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 40px 75px 0 75px;

    .arrowBtnLeft {
      position: absolute;
      left: 80px;
      bottom: 190px;
      border: none;
      background-color: transparent;

      &:hover i {
        color: $color-main;
        cursor: pointer;
      }
    }

    .arrowBtnRight {
      position: absolute;
      right: 80px;
      bottom: 190px;
      border: none;
      background-color: transparent;

      &:hover i {
        color: $color-main;
        cursor: pointer;
      }
    }

    .none {
      display: none;
    }

    i {
      color: $color-grey;
    }

    .foodThemeImgBox {
      @include display-flex(normal, normal);
      padding-top: 10px;
      overflow: hidden;
      width: 1500px;

      .foodThemeImg {
        @include display-flex(normal, normal);
        margin-bottom: 40px;
        transition: all 1s;
        // transform: translate(-1500px);
      }
    }

    .slickDots {
      @include display-flex;
      flex-direction: row;
      list-style: none;

      .slickActive {
        display: list-item;

        #colorDot {
          color: $color-main;
        }

        i {
          color: $color-grey;
          padding: 5px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
