@import '../../styles/common.scss';

.modalBg {
  position: fixed;
  top: 0;
  left: 0;
  @include display-flex;
  width: 100vw;
  height: 100vh;
  background: rgba($color: #000000, $alpha: 0.6);
  z-index: 999999;

  .signUpForm {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background: white;
    border-radius: 5px;

    .signUpLogo {
      margin: 25px;

      .logoImage {
        width: 100px;
      }
    }

    .signUpTitle {
      margin: 10px;
      font-weight: bold;
    }

    .signUpContainer {
      display: flex;
      flex-direction: column;
      align-items: center;

      .inputName {
        width: 300px;
        height: 40px;
        margin: 10px;
        padding-left: 10px;
        border-radius: 10px;
        border: none;
        background-color: #e8eaec;
      }

      .inputEmail {
        width: 300px;
        height: 40px;
        margin: 10px;
        padding-left: 10px;
        border-radius: 10px;
        border: none;
        background-color: #e8eaec;
      }

      .inputPhoneNum {
        width: 300px;
        height: 40px;
        margin: 10px;
        padding-left: 10px;
        border-radius: 10px;
        border: none;
        background-color: #e8eaec;
      }

      .inputPassword {
        width: 300px;
        height: 40px;
        margin: 10px;
        padding-left: 10px;
        border-radius: 10px;
        border: none;
        background-color: #e8eaec;
      }

      .submitInfoBtn {
        width: 300px;
        height: 40px;
        margin: 10px;
        border-radius: 10px;
        border: none;
        font-weight: bold;
        color: white;
        background-color: $color-main;
        cursor: pointer;

        &:disabled {
          background-color: $color-grey;
        }
      }

      input:focus {
        outline: none;
      }
    }

    .checkMembership {
      margin: 10px 0 30px;
      color: $color-grey;

      a.goToLogin {
        color: $color-main;
      }
    }
  }
}
