@import '../../../styles/common.scss';

.navProfileBox {
  img {
    margin-right: 30px;
    width: 35px;
    height: 35px;
    object-fit: fit;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
    }
  }
}
