@import '../../styles/common.scss';

.navBar {
  @include display-flex(flex-start, center);
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  z-index: 99999;
  transition: background 0.3s ease-in-out;

  &.transparent {
    background-color: transparent;
    box-shadow: none;

    .navSearchBar {
      display: none;
    }
  }

  .logoBox {
    position: relative;
    display: flex;
    align-items: center;
    width: 160px;
    padding-left: 10px;

    &:hover {
      cursor: pointer;
    }

    h1 {
      margin-left: 15px;
      font-family: 'Gamja Flower', cursive;
      color: $color-main;
      font-size: 25px;
    }

    .logoImg {
      position: absolute;
      top: -8px;
      right: -5px;
      width: 40px;
    }
  }

  .navSearchBar {
    @include display-flex(flex-start, center);
    margin: 0 50px 0 20px;
    width: 60%;

    .searchIcon {
      color: $color-grey;
    }

    input {
      margin-left: 15px;
      padding-left: 15px;
      height: 30px;
      width: 60%;
      border: none;
      border-left: 1px solid $color-grey;
      background: transparent;

      &:focus {
        outline: none;
      }
    }
  }

  .navProfileBox {
    @include display-flex(space-between, center);
    position: absolute;
    right: 0;
    margin-right: 20px;
  }
}
