@import '../../../styles/common.scss';

.storeImgBox {
  position: relative;
  padding: 0 10px;

  .slideArrow {
    @include display-flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background: rgba($color: $color-white, $alpha: 0.5);
    font-size: 50px;
    color: $color-darkgrey;
    cursor: pointer;
    z-index: 9999;

    &:disabled {
      display: none;
    }

    &:hover {
      background: rgba($color: $color-main, $alpha: 0.5);
      color: $color-white;
    }

    &.arrowLeft {
      left: 20px;

      i {
        margin-left: -5px;
      }
    }

    &.arrowRight {
      right: 20px;

      i {
        margin-right: -5px;
      }
    }
  }

  .storeImgUl {
    // border: 1px solid red;
    overflow: hidden;

    .slideInner {
      // border: 1px solid greenyellow;
      @include display-flex(normal, normal);
    }

    .storeImgLi {
      margin: 0 7px;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }

      img {
        width: 400px;
        object-fit: cover;
      }
    }
  }
}
